# player1, player2, ... (list players here for better reminder of who is playing)
CREATED_AT = 2025-02-16
SERVER_NAME = All The Mods 10
MODPACK_NAME = all-the-mods-10
MODPACK_VERSION = 2.39
MEMORY = 6G
JAVA_VERSION = 21
BACKUP = true
WHITELIST = player1, player2
OPS = player1
